<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>EstadIsticas</title>
</head>
<body>
  <h2>EstadIsticas de vuelos</h2>
  <nav>
    <a href="{% url 'vuelos:home' %}">Inicio</a> |
  </nav>
  <ul>
    <li>Nacionales: {{ estadisticas.total_vuelos_nacionales|default:0 }}</li>
    <li>Internacionales: {{ estadisticas.total_internacionales|default:0 }}</li>
    <li>Precio promedio (Nacionales):
      {% if estadisticas.promedio_nacional %}
       /* presenta el dato del promedio con los dos decimales definidos tambn por como esta definido en el modelo*/
        {{ estadisticas.promedio_nacional|floatformat:2 }}
      {% else %}N/A{% endif %}
    </li>
  </ul>
</body>